<navbar-component></navbar-component>

<side-nav-component></side-nav-component>

<rightscreen-component (notifyCloseDetailClicked)='onNotifyRightWindow($event)'></rightscreen-component>

<div id="main" class="main-content-panel">
  <div class="row">
    <div class="col-sm-1">
      <button class="btn button-no-borders" (click)="showHideSideNavClicked()">
        <span id="show-hide-side-button" class="fa " aria-hidden="true"> </span>
      </button>
    </div>
    <div class="col-sm-11">
      <div class="row-content-header">{{title}}</div>
    </div>
  </div>
  <div class="main-content">
    <button class="btn btn-primary" (click)="buttonClickedDetail()">detail</button>
  </div>
</div>
